@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
  --color-primary: ##EE4266;
  --color-primary-dark: #DC1B44;
  --color-primary-light: #E15573;
  --font-roboto: Roboto, sans-serif;
}

body {
  font-family: var(--font-roboto);
}